{% extends 'layouts/layout.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded ">
        <h1 class=" display-4">Task Manager App</h1>
        <p class=" lead">Welcome to our Task Manager app! This application is designed to help you stay organized and manage your tasks efficiently.</p>
    </div>

    <h2>User Registration:</h2>
    <p>Create your personalized account to unlock the full potential of our app. By registering, you gain access to a secure space where you can save, organize, and track your tasks.</p>

    <h2>Task Management:</h2>
    <ul>
        <li><strong>Create Tasks:</strong> Easily add new tasks with titles, descriptions, and due dates. Specify the importance level to prioritize your to-do list.</li>
        <li><strong>Modify Tasks:</strong> Edit your tasks at any time. Update titles, descriptions, due dates, or change the importance level to reflect changes in priority.</li>
        <li><strong>Delete Tasks:</strong> Remove tasks from your list when they are completed or are no longer relevant.</li>
    </ul>

    <h2>Task Viewing Options:</h2>
    <ul>
        <li><strong>View Completed Tasks:</strong> Track your accomplishments by reviewing the tasks you've successfully completed. Celebrate your progress and achievements.</li>
        <li><strong>Filter by Importance:</strong> Quickly identify and focus on high-priority tasks by using the importance level filter. This helps you allocate your time and energy efficiently.</li>
    </ul>

    <h2>Task Details:</h2>
    <ul>
        <li><strong>Title and Description:</strong> Each task allows you to provide a concise title and a detailed description, ensuring clarity on the task's purpose and requirements.</li>
    </ul>

    <h2>User-Friendly Interface:</h2>
    <p>Our app features an intuitive and user-friendly interface, making task management a seamless experience. Enjoy a clean and organized dashboard that helps you navigate effortlessly.</p>

    <h2>Stay Organized, Stay Productive:</h2>
    <p>With our Task Manager app, you can take control of your daily activities, enhance your productivity, and keep track of your accomplishments. Whether you're a professional juggling work tasks or a student managing assignments, this app is designed to simplify your life.</p>

    <p>Get started today and experience the convenience of efficient task management!</p>
    <p class="final">With our Task Manager app, you can take control of your daily activities, enhance your productivity, and keep track of your accomplishments. Whether you're a professional juggling work tasks or a student managing assignments, this app is designed to simplify your life.</p>

    

</div>
{% endblock %}

